@import "~normalize.css";
@import "roboto.css";

* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding-top: 2rem;
}

.container {
  // width: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: auto;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.btn-wrapper {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn:hover {
  cursor: pointer;
}
