@import "~normalize.css";
@import "roboto.css";

* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

.score {
  position: fixed;
  color: white;
  font-size: 18px;
  margin: 5px 0 0 5px;
  user-select: none;
  left: 5px;
  top: 5px;
}

.health {
  position: fixed;
  color: white;
  font-size: 18px;
  margin: 5px 0 0 5px;
  user-select: none;
  right: 10px;
  top: 5px;
}

canvas {
  cursor: crosshair;
}